<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Subject</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Create a Subject:</h1>

    <form th:action="@{/createGroup}" th:object="${groupForm}" method="POST">
      Group Name:
      <input type="text" th:field="*{groupName}" />
      <br />

      <input class="btn btn-primary" type="submit" value="Create" />
    </form>

    <br />

    <!-- Check if errorMessage is not null and not empty -->

    <div
      th:if="${errorMessage}"
      th:utext="${errorMessage}"
      style="color: red; font-style: italic"
    >
      ...
    </div>

    <a class="btn btn-light" th:href="@{/listGroups}">return</a>
  </body>
</html>
