<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student List</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Group List</h1>
    <br />
    <br />
    <div>
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Group Name</th>
            <th>
              <a class="btn btn-primary" href="createGroup">Create Group</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="group : ${groups}">
            <td th:utext="${group.groupName}">...</td>
            <td>
              <div
                th:unless="${#lists.contains(group.studentList, currentUser)}"
              >
                <a
                  class="btn btn-success"
                  th:href="@{/listGroups(subscribeGroup=${group.id})}"
                  >Subscribe</a
                >
              </div>
              <div
                th:unless="${!#lists.contains(group.studentList, currentUser)}"
              >
                <a
                  class="btn btn-danger"
                  th:href="@{/listGroups(unsubscribeGroup=${group.id})}"
                  >Unsubscribe</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a class="btn btn-light" href="/">return</a>
  </body>
</html>
